@font-face {
    font-family: 'Gardens CM';
    src: url('fonts/CM_GARDEN_R.eot');
    src: url('fonts/CM_GARDEN_R.eot?#iefix') format('embedded-opentype'),
        url('fonts/CM_GARDEN_R.woff2') format('woff2'),
        url('fonts/CM_GARDEN_R.woff') format('woff'),
        url('fonts/CM_GARDEN_R.svg#CM_GARDEN_R') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    background-color: #222;
}

.gameMenuContainer {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameMenu {
    background-color: #555;
    border-radius: 10%;
}

#tileContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tileRow {
    background-color: transparent;
    position: relative;
    height: 60px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.tile {
    width: 54px;
    height: 54px;
    margin: 3px;
    border-radius: 10%;
    display: inline-block;
}

.emptyTile {
    background-color: #333;
}

.towerPlatformTile {
    background-color: #888;
}

.roadTile {
    background-color: #666;
}

.spawnTile {
    background-color: #f00;
}

.baseTile {
    background-color: #0f0;
}