@font-face {
    font-family: 'Gardens CM';
    src: url('fonts/CM_GARDEN_R.eot');
    src: url('fonts/CM_GARDEN_R.eot?#iefix') format('embedded-opentype'),
        url('fonts/CM_GARDEN_R.woff2') format('woff2'),
        url('fonts/CM_GARDEN_R.woff') format('woff'),
        url('fonts/CM_GARDEN_R.svg#CM_GARDEN_R') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    background-color: #222;
}

.gameMenuContainer {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameMenu {
    background-color: #555;
    border-radius: 10%;
}

#tileContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tileRow {
    background-color: transparent;
    position: relative;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.tile {
    border-radius: 10%;
    display: inline-block;
    transition: all ease 0.3s;
}

.tile:hover {
    box-shadow: 0 0 3px 2px white;
}

.emptyTile {
    background-color: #333;
}

.towerPlatformTile {
    background-color: #888;
}

.roadTile {
    background-color: #666;
}

.spawnTile {
    background-color: #f00;
}

.baseTile {
    background-color: #0f0;
}

.tower {
    position: relative;
    height: 60%;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    border-radius: 50%;
    transform-origin: 0% 0%;
}

.towerGun {
    position: absolute;
    width: 80%;
    height: 30%;
    top: 50%;
    left: 50%;
    background-color: #333;
    border: 1px solid white;
    transform: translate(-10%, -50%);
}