.infoPanel {
    /* TODO: сделать по аналогии с .screen, но относительный размер примерно 9/10 */
    margin: 20px;
    flex-grow: 1;
    width: 400px;
    height: 800px;
    position: relative;
    border-radius: 15px;
    background-color: #333;
    flex-direction: column;
    display: flex;
    padding: 10px;
    box-shadow: 0 0 20px 10px black;    
}

.waveInfoText {
    font-size: x-large;
    color: white;
    margin: 10px;
}

.infoPanelShort {
    height: 100px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.waveInfoContainer {
    background-color: #666;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    flex-grow: 1;
}

.towerMergeButton {
    position: relative;
    background-color: #666;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    flex-grow: 1;
}

/* FIXME: */
.mergeButtonLabel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.towerInfoData {
    position: relative;
    background-color: #666;
    border-radius: 5px;
    flex-grow: 1;
    margin: 5px;
}

.infoPanelLarge {
    height: 200px;
    flex-grow: 1;
    display: flex;
}

.towerInfoImage {
    position: absolute;
    border-radius: 3px;
    height: 96%;
    width: 96%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #444;
}