@font-face {
    font-family: 'Gardens CM';
    src: url('../fonts/CM_GARDEN_R.eot');
    src: url('../fonts/CM_GARDEN_R.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CM_GARDEN_R.woff2') format('woff2'),
        url('../fonts/CM_GARDEN_R.woff') format('woff'),
        url('../fonts/CM_GARDEN_R.svg#CM_GARDEN_R') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    background-color: #222;
    font-family: 'Gardens CM';
    color: white;
}

.screenContainer {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    position: absolute;
    transition: all ease 200ms;
}

.screen {
    /* TODO: сделать так, чтобы на экране любого размера оэтот блок был квадратом со стороной
        в 3/5 доступного простравнства, если ориентация дисплея альбомная, и 4/5, если книжная */
    width: 600px;
    height: 600px;
    position: relative;
    border-radius: 15px;
    background-color: #333;
    flex-direction: column;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0 0 20px 10px black;
}

.gameScreenBar {
    position: relative;
    height: 100px;
    display: flex;
    flex-grow: 1;
}

.gameScreenMiddleBar {
    position: relative;
    height: 700px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.levelSelectButton {
    width: 100px;
    flex-grow: 1;
    margin: 5px;
    background-color: #ccc;
    border-radius: 6px;
}

.levelPage {
    width: 700px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.levelPreviewRow {
    height: 100px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.levelPreview {
    width: 100px;
    flex-grow: 1;
    margin: 5px;
    background-color: #999;
    border-radius: 6px;
    transition: 100ms all ease;
}

.levelPreview:hover {
    box-shadow: 0 0 5px white;
}

.gameScreenBottomButton {
    flex-grow: 1;
    background-color: gray;
    margin: 5px;
    border-radius: 6px;
    font-size: xx-large;
    color: black;
}

.usernameField {
    flex-grow: 1;
    margin: 5px;
    border-radius: 6px;
    width: 600px;
    padding-left: 20px;
    font-size: x-large;
}

.usernameConfirmButton {
    flex-grow: 1;
    margin: 5px;
    border-radius: 6px;
    width: 200px;
}

.backgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
}

.backgroundShadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.screenTitle {
    position: relative;
    font-size: xx-large;
    color: white;
    margin: auto;
}

.leadersTable {
    width: 80%;
    position: relative;
    color: white;
    font-size: x-large;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    table-layout: fixed;
}

.gamePanelContainer {
    position: absolute;
    display: inline-flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tilePanel {
    /* TODO: сделать по аналогии с .screen, но относительный размер примерно 9/10 */
    flex-grow: 1;
    width: 800px;
    height: 800px;
    position: relative;
    border-radius: 15px;
    background-color: #333;
    flex-direction: column;
    display: flex;
    padding: 10px;
    box-shadow: 0 0 20px 10px black;
    margin: 20px;
}

.infoPanel {
    /* TODO: сделать по аналогии с .screen, но относительный размер примерно 9/10 */
    margin: 20px;
    flex-grow: 1;
    width: 400px;
    height: 800px;
    position: relative;
    border-radius: 15px;
    background-color: #333;
    flex-direction: column;
    display: flex;
    padding: 10px;
    box-shadow: 0 0 20px 10px black;    
}

.tileRow {
    height: 80px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

/* TILE STYLE START */

.tile {
    flex-grow: 1;
    margin: 3px;
    border-radius: 3px;
    background-color: #888;
    transition: all ease 100ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.emptyTile {
    background-color: #444;
}

.towerTile {
    background-color: #888;
}

.towerTile:hover {
    box-shadow: 0 0 5px white;
}

.roadTile {
    background-color: #666;
}

.spawnTile {
    background-color: rgb(160, 0, 0);
}

.baseTile {
    background-color: rgb(0, 110, 0);
}

/* TILE STYLE END */

/* GEOMETRIC FIGURES STYLE START */

.tower {
    background-color: black;
    width: 80%;
    height: 80%;
    position: relative;
    margin: auto;
}

.towerInner {
    width: 90%;
    height: 90%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.enemy {
    background-color: black;
    width: 50px;
    height: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all ease 0.03s;
}

.enemyInner {
    width: 90%;
    height: 90%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* GEOMETRIC FIGURES STYLE END */

.laserRayLayer {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}